<!-- <nb-card>
  <nb-card-body>
    <h3>Home</h3>
  </nb-card-body>
</nb-card> -->
<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <ngx-calendar (selectedBookingId)="receiveBookingId($event)"></ngx-calendar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <!-- todo: calendar filtering move to here
    <nb-card>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
    -->
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Details">
            <div *ngIf="!booking">
              <p>Click on a booking event from the calendar to show its details</p>
              <button nbButton status="warning" [routerLink]="['/pages/bookings']">View all bookings</button>
            </div>
            <div *ngIf="booking">
              <h6>Venue</h6>
              <p>
                Building: {{ booking.building.name }}<br>
                Room: {{ booking.room.name }}<br>
                Date: {{ booking.bookDate | date:'dd MMMM yyyy' }}<br>
                Modules: <br>
                Lecturers: <br>
              </p>
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <b>Booked time slots</b>
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let t of booking.timeSlots" class="list-group-item">{{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}</li>
                </ul>
              </div>
              <br />
              <!-- <p>
                <button *ngIf="auth.loggedIn" class="mr-2" nbButton status="primary" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
                <button *ngIf="auth.loggedIn" class="mr-2" nbButton status="danger" (click)="delete()">Delete</button>
                <button nbButton status="warning" [routerLink]="['/pages/bookings']">View all</button>
              </p> -->
              <p>
                <button class="mr-2" nbButton status="primary" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
                <button class="mr-2" nbButton status="danger" (click)="delete()">Delete</button>
                <button nbButton status="warning" [routerLink]="['/pages/bookings']">View all</button>
              </p>
            </div>
          </nb-tab>
          <!-- <nb-tab *ngIf="!auth.loggedIn" tabTitle="Add booking" disabled>
          </nb-tab>
          <nb-tab *ngIf="auth.loggedIn" tabTitle="Add booking">
            <ngx-booking-form></ngx-booking-form>
          </nb-tab> -->
          <nb-tab tabTitle="Add booking">
            <ngx-booking-form></ngx-booking-form>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>