h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

.calendar-timetable-buttons {
  float: right;
  margin-right: 5px;

  .button {
    margin-right: 5px;
  }
}