@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-timetable-title {
  float: left;
}

.calendar-timetable-buttons {
  float: right;
  margin-right: 5px;

  .button {
    margin-right: 5px;
  }
}

.nb-card-list {
  max-height: 15rem;;
  width: 88%;
  margin-left: -20px;
}

.venue-card {
  width: 88%;
  margin-left: -20px;
}

.venue-card-list {
  // min-width: 10rem;
  // max-width: 20rem;
  max-height: 15rem;;
  width: 100%;
  // margin-left: -20px;
}

@include media-breakpoint-down(sm) {
  .calendar-timetable-title {
    float: none;
    display: block;
    text-align: center;
  }
  
  .calendar-timetable-buttons {
    float: none;
    display: block;
    text-align: center;
  }
}