<!-- <nb-card>
  <nb-card-body>
    <h3>Home</h3>
  </nb-card-body>
</nb-card> -->
<div class="row">

  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <ngx-calendar (selectedBookingId)="receiveBookingId($event)"></ngx-calendar>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">

    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Details">
            <div *ngIf="!booking">
              <p>Click on a booking event from the calendar to show its details</p>
              <button nbButton status="warning" fullWidth [routerLink]="['/pages/bookings']">View All Bookings</button>
            </div>
            <div *ngIf="booking">
              <!-- Venue -->
              <h6>Venue</h6>
              <p>
                Building: {{ booking.building.name }}<br>
                Room: {{ booking.room.name }}<br>
                Date: {{ booking.bookDate | date:'dd MMMM yyyy' }}<br>
              </p>
            
              <!-- Modules -->
              <!-- <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Modules
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let module of booking.modules" class="list-group-item">
                    {{ module.code }}: {{ module.name }}
                  </li>
                </ul>
              </div> -->
              <h6>Modules</h6>
              <nb-accordion multi>
                <nb-accordion-item *ngFor="let module of booking.modules">
                  <nb-accordion-item-header>
                    {{ module.code }}: {{ module.name }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    <table class="table table-hover">
                      <thead class="thead-dark text-center">
                        <tr>
                          <th style="width: 100%" scope="col">Lecturer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let lecturer of module.lecturers">
                          <td>{{ lecturer.title }} {{ lecturer.name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            
              <br />
            
              <!-- TimeSlots -->
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <h6>Time slots</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let t of booking.timeSlots" class="list-group-item">{{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}</li>
                </ul>
              </div>
            
              <br />
              <div>
                <!-- <button *ngIf="auth.loggedIn" class="mx-2" nbButton status="primary" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
                <button *ngIf="auth.loggedIn" class="mr-2" nbButton status="danger" (click)="delete()">Delete</button> -->
                <button class="mb-2" fullWidth nbButton status="primary" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
                <button class="mb-2" fullWidth nbButton status="danger" (click)="delete()">Delete</button>
                <button fullWidth nbButton status="warning" [routerLink]="['/pages/bookings']">View All Bookings</button>
              </div>
              <div>
              </div>
            </div>            
          </nb-tab>
          <!-- <nb-tab *ngIf="!auth.loggedIn" tabTitle="Add booking" disabled>
          </nb-tab>
          <nb-tab *ngIf="auth.loggedIn" tabTitle="Add booking">
            <ngx-booking-form></ngx-booking-form>
          </nb-tab> -->
          <nb-tab tabTitle="Add Booking">
            <ngx-booking-form></ngx-booking-form>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>