<div class="row">
  <div class="col-md-5">
    <nb-card>
      <nb-card-body>
        <h4>Add Module</h4>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="form-group">
            <!-- <input [(ngModel)]="module.name" type="text" nbInput placeholder="Module name" fullWidth><br> -->
            <input id="name" type="text" class="form-control" [(ngModel)]="module.name"
            name="name" placeholder="Module name">
          </div>
          <div class="form-group">
            <!-- <input [(ngModel)]="module.code" type="text" nbInput placeholder="Module code" fullWidth><br> -->
            <input id="code" type="text" class="form-control" [(ngModel)]="module.code"
            name="code" placeholder="Module code">
          </div>
          <div class="form-group">
            <nb-select
              filled
              multiple
              fullWidth
              placeholder="Select lecturers"
              [(selected)]="module.lecturers">
              <nb-option *ngFor="let l of lecturers" value="{{ l.id }}">{{ l.title }} {{ l.name }}</nb-option>
            </nb-select><br>
          </div>
          <div>
            <button nbButton fullWidth [disabled]="!f.valid">Add</button>
          </div>
          <br><pre>{{ module | json }}</pre>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-7"></div>
</div>