<div class="row text-center">
    <div class="col-md-4">
      <!-- <div class="btn-group">
        <div
          class="btn btn-info"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
          [excludeDays]="excludeDays"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Today
        </div>
        <div
          class="btn btn-info"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
          [excludeDays]="excludeDays"
        >
          Next
        </div>
      </div> -->

      <button nbButton status="basic" ghost
        size="small"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
        [excludeDays]="excludeDays">
        <nb-icon icon="arrow-ios-back-outline" nbTooltip="Previous"></nb-icon>
      </button>

      <button nbButton status="basic" style="margin-left: 10px; margin-right: 10px;" ghost
        size="small"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">Today</button>

      <button nbButton status="basic" ghost
      size="small"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
        [excludeDays]="excludeDays">
        <nb-icon icon="arrow-ios-forward-outline" nbTooltip="Next"></nb-icon>
      </button>

    </div>
    <div class="col-md-4">
      <h4>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h4>
    </div>
    <div class="col-md-4">
      <!-- <div class="btn-group">
        <div
          class="btn btn-info"
          (click)="viewChange.emit('month')"
          [class.active]="view === 'month'"
        >
          Month
        </div>
        <div
          class="btn btn-info"
          (click)="viewChange.emit('week')"
          [class.active]="view === 'week'"
        >
          Week
        </div>
        <div
          class="btn btn-info"
          (click)="viewChange.emit('day')"
          [class.active]="view === 'day'"
        >
          Day
        </div>
      </div> -->

      <button nbButton status="basic" ghost
      size="small"
      (click)="viewChange.emit('month')"
      [class.active]="view === 'month'">
        Month
      </button>

      <button nbButton status="basic" style="margin-left: 10px; margin-right: 10px;" ghost
      size="small"
      (click)="viewChange.emit('week')"
      [class.active]="view === 'week'">Week</button>

      <button nbButton status="basic" ghost
      size="small"
      (click)="viewChange.emit('day')"
      [class.active]="view === 'day'">
        Day
      </button>

    </div>
  </div>
  <br />
