<nb-card>
  <nb-card-body>
    <h3>Room list</h3>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-8">
    <!-- todo: change to send data to side details component -->
    <nb-accordion> <!-- * include 'multi' to open multiple body -->
      <nb-accordion-item *ngFor="let b of buildings">
        <nb-accordion-item-header>
          {{ b.name }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <button [routerLink]="['/pages/rooms/new']" class="mb-2" nbButton status="primary">Add room</button>
          <!-- <ul>
            <li *ngFor="let room of b.rooms">{{ room.name }}</li>
          </ul> -->

          <table class="table table-hover text-center">
            <thead class="thead-dark">
              <tr>
                <th style="width: 50%" scope="col">Room</th>
                <th style="width: 40%" scope="col">Capacity</th>
                <th style="width: 10%" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of b.rooms">
                <th scope="row">{{ room.name }}</th>
                <td>{{ room.capacity }}</td>
                <td><a [routerLink]="['/pages/rooms/edit/', room.id]">View</a></td> <!-- todo: bind view to right panel or page -->
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <!-- todo: show details if click 'view' -->
          <nb-tab tabTitle="Details">
            <div *ngIf="building">
              <ul>
                <li>Room: {{ building.name }}</li>
                <li>Capacity: {{ building.room.capacity }}</li>
              </ul>
              <br />
              <p>
                <button *ngIf="auth.loggedIn" class="btn btn-primary mx-2" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
                <button *ngIf="auth.loggedIn" class="btn btn-danger mr-2" (click)="delete()">Delete</button>
              </p>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Edit">
          </nb-tab>
          <nb-tab tabTitle="Add">
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>