<nb-card>
  <nb-card-body>
    <h3>Room list</h3>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-8">
    <!-- todo: change to send data to side details component -->
    <nb-accordion> <!-- * include 'multi' to open multiple body -->
      <nb-accordion-item *ngFor="let b of buildings">
        <nb-accordion-item-header>
          {{ b.name }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <button [routerLink]="['/pages/rooms/new']" class="mb-2" nbButton status="primary">Add room</button>
          <!-- <ul>
            <li *ngFor="let room of b.rooms">{{ room.name }}</li>
          </ul> -->

          <table class="table table-hover text-center">
            <thead class="thead-dark">
              <tr>
                <!-- <th style="width: 10%" scope="col">Id</th> -->
                <th style="width: 50%" scope="col">Room</th>
                <th style="width: 40%" scope="col">Capacity</th>
                <th style="width: 10%" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of b.rooms">
                <!-- <th scope="row">{{ room.id }}</th> -->
                <th scope="row">{{ room.name }}</th>
                <td>{{ room.capacity }}</td>
                <td><a [routerLink]="['/pages/rooms/', room.id]">View</a></td> <!-- todo: bind view to right panel or page -->
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <!-- todo: show details if click 'view' -->
          <nb-tab *ngIf="!auth.loggedIn" disabled tabTitle="Edit">
            <ngx-room-form></ngx-room-form>
          </nb-tab>
          <nb-tab *ngIf="auth.loggedIn" tabTitle="Edit">
            <ngx-room-form></ngx-room-form>
          </nb-tab>
          <nb-tab *ngIf="!auth.loggedIn" disabled tabTitle="Add">
            <ngx-room-form></ngx-room-form>
          </nb-tab>
          <nb-tab *ngIf="auth.loggedIn" tabTitle="Add">
            <ngx-room-form></ngx-room-form>
          </nb-tab>
          <nb-tab tabTitle="Details">
            <!-- <ngx-room-details></ngx-room-details> -->
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>