<nb-card>
  <nb-card-body>
    <h3>Buildings and Rooms List</h3>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-8">
    <!-- todo: change to send data to side details component -->
    <nb-accordion>
      <!-- * include 'multi' to open multiple body -->
      <nb-accordion-item *ngFor="let b of buildings">
        <nb-accordion-item-header>
          {{ b.name }}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngIf="hasAccess">
            <button href="javascript:void(0);" (click)="editBuilding(b.id)" size="small" class="mr-2 mb-2" nbButton
              status="warning">Edit building
              details</button>
            <button href="javascript:void(0);" (click)="deleteBuilding(b.id)" size="small" class="mb-2" nbButton
              status="danger">Delete
              building</button>
          </div>

          <table class="table table-hover text-center">
            <thead>
              <tr>
                <!-- <th style="width: 10%" scope="col">Id</th> -->
                <th style="width: 50%" scope="col">Room</th>
                <th style="width: 40%" scope="col">Capacity</th>
                <th style="width: 5%" scope="col"></th>
                <th style="width: 5%" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of b.rooms">
                <!-- <th scope="row">{{ room.id }}</th> -->
                <th scope="row" (click)="selectRoom(room.id)">{{ room.name }}</th>
                <td (click)="selectRoom(room.id)">{{ room.capacity }}</td>
                <td><a href="javascript:void(0);" (click)="editRoom(room.id)" *ngIf="hasAccess">
                    <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                  </a></td>
                <td><a href="javascript:void(0);" (click)="deleteRoom(room.id)" *ngIf="hasAccess">
                    <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                  </a></td>
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab *ngIf="hasAccess" tabTitle="Room" active="{{ setActiveAddRoom }}">
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existRoomAlert">
              Room name already exists!
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert">
              Please enter the required fields!
            </nb-alert>
            <h5 *ngIf="room.id" style="margin-top: 10px;">Edit Room
              <button nbButton size="small" status="basic" ghost (click)="onClickBack()" nbTooltip="Return to Add"
                style="float: right;">
                <nb-icon icon="arrow-back-outline"></nb-icon>Back
              </button>
            </h5>
            <h5 *ngIf="!room.id" style="margin-top: 10px;">Add Room</h5>
            <form #f="ngForm" (ngSubmit)="submitRoom()" novalidate>
              <div class="form-group" style="margin-left: 10px; margin-top: 10px;">
                <label>Building *</label>
                <nb-select filled fullWidth placeholder="Select building" [(selected)]="room.buildingId">
                  <nb-option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</nb-option>
                </nb-select><br>
              </div>
              <div class="form-group" style="margin-left: 10px; margin-top: 10px;">
                <label>Room name *</label>
                <input id="name" type="text" class="form-control" [(ngModel)]="room.name" name="name"
                  placeholder="Room name">
              </div>
              <div class="form-group" style="margin-left: 10px; margin-top: 10px;">
                <label>Room capacity *</label>
                <input id="capacity" type="text" class="form-control" [(ngModel)]="room.capacity" name="capacity"
                  placeholder="Room capacity">
              </div>
              <div style="margin-left: 10px; margin-top: 10px;">
                <button *ngIf="!room.id" nbButton fullWidth [disabled]="!f.valid">Add</button>
                <button *ngIf="room.id" nbButton fullWidth [disabled]="!f.valid">Save</button>
              </div>
              <!-- <br><pre>{{ room | json }}</pre> -->
            </form>
          </nb-tab>

          <nb-tab *ngIf="hasAccess" tabTitle="Building" active="{{ setActiveAddBuilding }}">
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existBuildingAlert">
              Building name already exists!
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert">
              Please enter the required fields!
            </nb-alert>
            <h5 *ngIf="building.id" style="margin-top: 10px;">Edit Building
              <button nbButton size="small" status="basic" ghost (click)="onClickBack()" nbTooltip="Return to Add"
                style="float: right;">
                <nb-icon icon="arrow-back-outline"></nb-icon>Back
              </button>
            </h5>
            <h5 *ngIf="!building.id" style="margin-top: 10px;">Add Building</h5>
            <form #f="ngForm" (ngSubmit)="submitBuilding()" novalidate>
              <div class="form-group" style="margin-left: 10px; margin-top: 10px;">
                <label>Building *</label>
                <input id="name" type="text" class="form-control" [(ngModel)]="building.name" name="name"
                  placeholder="Building name">
              </div>
              <div style="margin-left: 10px; margin-top: 10px;">
                <button *ngIf="!building.id" nbButton fullWidth [disabled]="!f.valid">Add</button>
                <button *ngIf="building.id" nbButton fullWidth [disabled]="!f.valid">Save</button>
              </div>
              <!-- <br><pre>{{ building | json }}</pre> -->
            </form>
          </nb-tab>

          <nb-tab tabTitle="Details" active="{{ setActiveDetails }}">
            <div *ngIf="!roomDetails" style="margin-top: 10px;">
              <nb-alert status="basic" closable (close)="onClose()" *ngIf="detailsAlert">
                Click on a room from the table to show its details
              </nb-alert>
            </div>
            <div *ngIf="roomDetails">
              <p>
                <b>Building:</b> {{ roomDetails.building.name }}<br>
                <b>Room name:</b> {{ roomDetails.name }}<br>
                <b>Capacity:</b> {{ roomDetails.capacity }}<br>
              </p>

              <div class="inline" *ngIf="hasAccess">
                <button style="margin-top: 10px;" nbButton status="warning"
                  (click)="editRoom(roomDetails.id)">Edit</button>
                <button style="margin-left: 5px; margin-top: 10px;" nbButton status="danger"
                  (click)="deleteRoom(roomDetails.id)">Delete</button>
              </div>
            </div>
            <!-- <div *ngIf="buildingDetails && !roomDetails">
              <p>
                <b>Name:</b> {{ buildingDetails.name }}<br>
              </p>

              <div class="inline" *ngIf="hasAccess">
                <button style="margin-left: 10px; margin-top: 10px;" nbButton status="warning"
                  (click)="editBuilding(buildingDetails.id)">Edit</button>
                <button style="margin-left: 10px; margin-top: 10px;" nbButton status="danger"
                  (click)="delete(buildingDetails.id)">Delete</button>
              </div>
            </div> -->
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
