<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header style="border-bottom: none;">
        <h4>Lecturer List</h4>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-hover" style="margin-top: -15px;">
          <thead>
            <tr>
              <th style="width: 10%" scope="col">Title</th>
              <th style="width: 45%" scope="col">Name</th>
              <th style="width: 35%" scope="col">Email</th>
              <th style="width: 5%" scope="col"></th>
              <th style="width: 5%" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lecturer of lecturers">
              <td (click)="selectLecturer(lecturer.id)">{{ lecturer.title }}</td>
              <td (click)="selectLecturer(lecturer.id)">{{ lecturer.name }}</td>
              <td (click)="selectLecturer(lecturer.id)">{{ lecturer.email }}</td>
              <td><a href="javascript:void(0);" (click)="edit(lecturer.id)" *ngIf="hasAccess">
                  <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                </a></td>
              <td><a href="javascript:void(0);" (click)="delete(lecturer.id)" *ngIf="hasAccess">
                  <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                </a></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab *ngIf="hasAccess" tabTitle="Lecturer" active="{{ setActiveAddLecturer }}">
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existAlert" style="text-align: center;">
              {{error}}
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert" style="text-align: center;">
              Please enter the required fields!
            </nb-alert>
            <h4 *ngIf="lecturer.id" style="margin-top: 10px;">Edit Lecturer
              <button nbButton size="small" status="basic" ghost (click)="onClickBack()" nbTooltip="Return to Add"
                style="float: right;">
                <nb-icon icon="arrow-back-outline"></nb-icon>Back
              </button>
            </h4>
            <h4 *ngIf="!lecturer.id" style="margin-top: 10px;">Add Lecturer</h4>
            <form #f="ngForm" (ngSubmit)="submit()" novalidate>
              <div class="form-group" style="margin-top: 10px;">
                <label>Lecturer title</label>
                <input id="title" type="text" class="form-control" [(ngModel)]="lecturer.title" name="title"
                  placeholder="Title">
              </div>
              <div class="form-group" style="margin-top: 10px;">
                <label>Lecturer name *</label>
                <input id="name" type="text" class="form-control" [(ngModel)]="lecturer.name" name="name"
                  placeholder="Lecturer name">
              </div>
              <div class="form-group" style="margin-top: 10px;">
                <label>Email</label>
                <input id="email" type="email" class="form-control" [(ngModel)]="lecturer.email" name="email"
                  placeholder="Email">
              </div>
              <div style="margin-top: 10px;">
                <button *ngIf="!lecturer.id" nbButton fullWidth [disabled]="!f.valid">Add</button>
                <button *ngIf="lecturer.id" nbButton fullWidth [disabled]="!f.valid">Save</button>
              </div>
              <!-- <br><pre>{{ lecturer | json }}</pre> -->
            </form>
          </nb-tab>

          <nb-tab tabTitle="Details" active="{{ setActiveDetails }}">
            <div *ngIf="lecturerDetails">
              <p>
                <b>Name:</b> {{ lecturerDetails.title }} {{ lecturerDetails.name }}<br>
                <b>Faculty:</b> <br>
                <b>Office:</b> <br>
                <b>Email:</b> {{ lecturerDetails.email }}<br>

                <!-- * add modules that the lecturer is teaching -->
                <!-- <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      <h6>Modules</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let m of lecturer.modules" class="list-group-item">{{ m.code }}</li>
                    </ul>
                  </div>
                </p> -->

                <!-- <br>
                <pre>{{ lecturerDetails | json }}</pre> -->

                <div class="inline" *ngIf="hasAccess">
                  <button style="margin-left: 10px; margin-top: 10px;" nbButton status="warning"
                    (click)="edit(lecturerDetails.id)">Edit</button>
                  <button style="margin-left: 10px; margin-top: 10px;" nbButton status="danger"
                    (click)="delete(lecturerDetails.id)">Delete</button>
                </div>
            </div>
            <div *ngIf="!lecturerDetails" style="margin-top: 10px;">
              <nb-alert status="basic" closable (close)="onClose()" *ngIf="detailsAlert">
                Click on a table row to show its details
              </nb-alert>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
