<!-- todo: cascading dropdown list for filtering by faculty and course -->
<form>
    <div class="form-group">
        <label for="faculty">Faculty</label>
        <select id="faculty" class="form-control" (change)="onFacultyChange()" [(ngModel)]="program.faculty" name="faculty">
            <option value=""></option>
            <option *ngFor="let f of faculties" value="{{ f.id }}">{{ f.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <select name="" id="course" class="form-control">
            <option value=""></option>
            <option *ngFor="let c of courses" value="{{ c.id }}">{{ c.name }}</option>
        </select>
    </div>
</form>