<br>
<ngx-calendar-header 
  [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
>
</ngx-calendar-header>

<!-- <div class="card card-body text-white bg-success">
  <label><b>Filter calendar by building and room</b></label> -->
  <nb-card status="info">
    <nb-card-header>Filter calendar by building and room</nb-card-header>
    <nb-card-body>
      <div class="form-inline">
        <div class="form-group">
          <div class="mr-2">
            <select style="width: 28rem;" name="buildingId" id="building" class="form-control" [(ngModel)]="filter.buildingId" (change)="onBuildingChange()">
              <option value="" disabled selected>Select building</option>
              <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
            </select>
          </div>
          <div class="mr-2">
            <select style="width: 12rem;" name="roomId" id="room" class="form-control" [(ngModel)]="filter.roomId" (change)="onFilterChange()">
              <option value="0"></option>
              <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
            </select>
          </div>
          <button nbButton status="basic" (click)="resetFilter()">Reset</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
<!-- </div> -->
<!-- <br> -->

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    [weekStartsOn]="weekStartsOn"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    [dayStartHour]="7"
    [dayEndHour]="20"
    (eventClicked)="eventClicked($event)"
    (dayHeaderClicked)="changeDay($event.day.date)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="20"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>
</div>