<ngx-calendar-header 
  [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
>
</ngx-calendar-header>

<!-- todo: Filter by building and room -->
<div class="card card-body bg-light">
  <div class="form-inline">
    <div class="form-group mb-2">
      <label for="building">Filter building</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <select name="buildingId" id="building" class="form-control" [(ngModel)]="filter.buildingId" (change)="onFilterChange()" (change)="onBuildingChange()"> <!-- [(ngModel)]="query.buildingId" (change)="onFilterChange()" -->
        <option value="0"></option>
        <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
      </select>
    </div>
  </div>
  <!-- <div class="form-inline">
    <div class="form-group mb-2">
      <label for="room">Filter room</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <select name="roomId" id="room" class="form-control" [(ngModel)]="filter.roomId">
        <option value="0"></option>
        <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
      </select>
    </div>
  </div> -->
  <button class="mb-2" nbButton status="basic" (click)="resetFilter()">Reset</button>
</div>
<br>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    [weekStartsOn]="weekStartsOn"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    [dayStartHour]="7"
    [dayEndHour]="20"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="20"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>
</div>