<br>
<ngx-calendar-header 
  [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
>
</ngx-calendar-header>

<!-- <nb-card status="info">
  <nb-card-header>Filter calendar by building and room</nb-card-header>
  <nb-card-body>
    <div class="form-inline">
      <div class="form-group">
        <div class="mr-2">
          <select style="width: 28rem;" name="buildingId" id="building" class="form-control" [(ngModel)]="filter.buildingId" (change)="onBuildingChange()">
            <option value="" placeholder="Select a building"></option>
            <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
          </select>
        </div>
        <div class="mr-2">
          <select style="width: 12rem;" name="roomId" id="room" class="form-control" [(ngModel)]="filter.roomId" (change)="onFilterChange()">
            <option value="" placeholder="Select a room"></option>
            <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
          </select>
        </div>
        <button nbButton status="basic" (click)="resetFilter()">Reset</button>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="sendBookingId($event)"
    [weekStartsOn]="weekStartsOn"
    [excludeDays]="excludeDays"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    [hourSegments]="1"
    [dayStartHour]="7"
    [dayEndHour]="18"
    (eventClicked)="sendBookingId($event)"
    (dayHeaderClicked)="changeDay($event.day.date)"
    [excludeDays]="excludeDays"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [hourSegments]="1"
    [dayStartHour]="7"
    [dayEndHour]="18"
    [refresh]="refresh"
    (eventClicked)="sendBookingId($event)"
  >
  </mwl-calendar-day-view>
</div>