<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        <h4>Manage Users</h4>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 20%" class="col">Username</th>
              <th style="width: 30%" class="col">Full Name</th>
              <th style="width: 20%" class="col">Email</th>
              <th style="width: 20%" class="col">Role</th>
              <th style="width: 5%" class="col"></th>
              <th style="width: 5%" class="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.userName }}</td>
              <td>{{ user.fullName }}</td>
              <td>{{ user.email }}</td>
              <td></td>
              <td><a href="javascript:void(0);" (click)="edit(user.id)"><nb-icon icon="edit-outline" status="warning"></nb-icon></a></td>
              <td><a href="javascript:void(0);" (click)="delete(user.id)"><nb-icon icon="trash-2-outline" status="danger"></nb-icon></a></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header><h4>Edit User Role</h4></nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col"></div>
          <div class="col-md-10">
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert">
              Select a user and role!
            </nb-alert>
            <form #f="ngForm" (ngSubmit)="submit()" novalidate>
              <div class="form-group">
                <label>User *</label>
                <nb-select filled fullWidth placeholder="Select user" [(selected)]="userRole.id">
                  <nb-option *ngFor="let user of users" value="{{ user.id }}">{{ user.fullName }}</nb-option>
                </nb-select><br>
              </div>
              <div class="form-group" style="margin-top: 20px;">
                <label>Select role *</label>
                <nb-radio-group [(value)]="userRole.role">
                  <nb-radio value="SuperAdmin">Super admin</nb-radio>
                  <nb-radio value="Admin">Admin</nb-radio>
                  <nb-radio value="NormalUser">Normal user</nb-radio>
                </nb-radio-group>
              </div>
              <div>
                <button nbButton fullWidth [disabled]="!f.valid">Save</button>
              </div>
            </form>
            <!-- <br>
            <pre>{{ userRole | json }}</pre> -->
          </div>
          <div class="col"></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
