<nb-card>
  <nb-card-body>
    <h3 *ngIf="booking.id">Edit room</h3>
    <h3 *ngIf="!booking.id">Add new room</h3>
  </nb-card-body>
</nb-card>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <nb-card>
    <nb-card-body>
      <!-- Building drop down list -->
      <div class="form-group">
        <label for="building">Building *</label>
        <select id="building" class="form-control" (change)="onBuildingChange()" [(ngModel)]="booking.buildingId"
          name="buildingId" required #building="ngModel">
          <option value=""></option>
          <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="building.touched && !building.valid">Please specify the building.
        </div>
      </div>
      
      <div *ngIf="!booking.id">
        <button nbButton fullWidth status="success" [disabled]="!f.valid">Book</button>
      </div>
      <div *ngIf="booking.id">
        <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
        <!-- ? <button  class="btn btn-danger" type="button" (click)="delete()">Delete</button> -->
      </div>
    </nb-card-body>
  </nb-card>
</form>
