<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <!-- Building drop down list -->
  <div class="form-group">
    <label for="building">Building *</label>
    <select id="building" class="form-control" (change)="onBuildingChange()" [(ngModel)]="booking.buildingId"
      name="buildingId" required #building="ngModel">
      <option value=""></option>
      <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="building.touched && !building.valid">Please specify the building.
    </div>
  </div>

  <!-- todo: Add room name form -->
  <div class="form-group">
    <label for="roomName">Room name *</label>
    <input id="roomName" type="text" class="form-control" required>
    <!-- <div class="alert alert-danger" *ngIf="roomName.touched && !roomName.valid">Please specify the room name.
    </div> -->
  </div>

  <!-- todo: Add room capacity form -->
  <div class="form-group">
    <label for="roomCapacity">Capacity *</label>
    <input id="roomCapacity" type="text" class="form-control" required>
    <!-- <div class="alert alert-danger" *ngIf="roomCapacity.touched && !roomCapacity.valid">Please specify the room capacity.
    </div> -->
  </div>

  <div *ngIf="!booking.id">
    <button nbButton fullWidth status="success" [disabled]="!f.valid">Book</button>
  </div>
  <div *ngIf="booking.id">
    <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
    <!-- ? <button  class="btn btn-danger" type="button" (click)="delete()">Delete</button> -->
  </div>
</form>
