<!-- <div *ngIf="room"> -->
  <!-- todo: Here display all room details -->
  <!-- <li>Building: {{ room.building.name }}</li> -->
  <!-- <h6>Room details:</h6>
  <ul>
    <li>Room: {{ room.name }}</li>
    <li>Capacity: {{ room.capacity }}</li>
  </ul>

  <br />
  <p>
    <button *ngIf="auth.loggedIn" class="mx-2" nbButton status="primary" [routerLink]="['/pages/rooms/edit/', room.id]">Edit</button>
    <button *ngIf="auth.loggedIn" class="mr-2" nbButton status="danger" (click)="delete()">Delete</button>
    <button nbButton status="warning" [routerLink]="['/pages/rooms']">View all rooms</button>
  </p> -->
<!-- </div> -->