<nb-card>
  <nb-card-body>
    <h3>Booking list</h3>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="card card-body bg-light">
      <div class="form-group">
        <p>
          <button [routerLink]="['/pages/bookings/new']" class="btn btn-primary">New booking</button>
        </p>
        <label for="building">Filter by building:</label>
        <select name="building" id="" class="form-control" [(ngModel)]="filter.buildingId" (change)="onFilterChange()">
          <option value="">Select a building</option>
          <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
        </select>
      </div>
      <button class="btn btn-secondary" (click)="resetFilter()" style="max-width: 8rem;">Reset</button>
    </div>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Building</th>
          <th>Room</th>
          <th>Contact Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bookings">
          <td>{{ b.id }}</td>
          <td>{{ b.building.name }}</td>
          <td>{{ b.room.name }}</td>
          <td>{{ b.contact.name }}</td>
          <td>
            <a [routerLink]="['/pages/bookings/', b.id]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
