<nb-card>
  <nb-card-body>
    <h3>Booking list</h3>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="card card-body bg-light">
      <div class="form-inline">
        <div class="form-group">
          <label for="building">Filter building:</label>
        </div>
        <div class="form-group mx-sm-3">
          <select name="building" id="" class="form-control" [(ngModel)]="query.buildingId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
          </select>
        </div>
        <button class="mr-2" nbButton status="basic" (click)="resetFilter()">Reset</button>
        <button *ngIf="auth.loggedIn" [routerLink]="['/pages/bookings/new']" nbButton status="primary">New booking</button> <!-- ? change to auth.authenticated()? -->
      </div>
    </div>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let c of columns">
            <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
              {{ c.title }}
              <i *ngIf="query.sortBy === c.key" 
                class="fa"
                [class.fa-sort-asc]="query.isSortAscending"
                [class.fa-sort-desc]="!query.isSortAscending"
              ></i>
            </div>
            <div *ngIf="!c.isSortable">
              {{ c.title }}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of queryResult.items"> <!-- let b of bookings -->
          <td>{{ b.id }}</td>
          <td>{{ b.building.name }}</td>
          <td>{{ b.room.name }}</td>
          <td>{{ b.bookDate | date:'dd MMMM yyyy' }}</td>
          <!-- todo: Figure out how to display times in table -->
          <!-- <ul>
            <li *ngFor="let timeSlot of b.timeSlots">{{ timeSlot.startTime | date:'shortTime' }}-{{ timeSlot.endTime | date:'shortTime' }}</li>
          </ul> -->
          <td>{{ b.contact.name }}</td>
          <td>
            <a [routerLink]="['/pages/bookings/', b.id]">View</a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
  </nb-card-body>
</nb-card>
