<div class="row">
  <div class="col-md-5">
    <nb-card>
      <nb-card-body>
        <!-- <h4>Add Building</h4> -->
        <h4 *ngIf="building.id">Edit building</h4>
        <h4 *ngIf="!building.id">Add new building</h4>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="form-group">
            <label>Building</label>
            <input id="name" type="text" class="form-control" [(ngModel)]="building.name"
            name="name" placeholder="Building name">
          </div>
          <div>
            <button nbButton fullWidth [disabled]="!f.valid">Add</button>
          </div>
          <!-- <br><pre>{{ building | json }}</pre> -->
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-7"></div>
</div>