<div *ngIf="booking">
    <h6>Contact details:</h6>
    <ul>
      <li>Name: {{ booking.contact.name }}</li>
      <li>Phone: {{ booking.contact.phone }}</li>
      <li>Email: {{ booking.contact.email }}</li>
    </ul>
    <h6>Venue:</h6>
    <ul>
      <li>Building: {{ booking.building.name }}</li>
      <li>Room: {{ booking.room.name }}</li>
      <li>Date: {{ booking.bookDate | date }}</li>
      <li>Purpose: {{ booking.purpose }}</li>
    </ul>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Booked time slots
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let t of booking.timeSlots" class="list-group-item">{{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}</li>
      </ul>
    </div>

    <br />
    <p>
      <button *ngIf="auth.loggedIn" class="btn btn-primary mx-2" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
      <button *ngIf="auth.loggedIn" class="btn btn-danger mr-2" (click)="delete()">Delete</button>
      <button class="btn btn-warning" [routerLink]="['/pages/bookings']">View All Bookings</button>
    </p>
  </div>