<!-- ! change to lecturer and module -->
<div *ngIf="booking">
  <h6>Contact details</h6>
  <p>
    Name: {{ booking.contact.name }}<br>
    Phone: {{ booking.contact.phone }}<br>
    Email: {{ booking.contact.email }}<br>
  </p>
  <h6>Venue</h6>
  <p>
    Building: {{ booking.building.name }}<br>
    Room: {{ booking.room.name }}<br>
    Date: {{ booking.bookDate | date:'dd MMMM yyyy' }}<br>
    Purpose: {{ booking.purpose }}<br>
  </p>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Booked time slots
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let t of booking.timeSlots" class="list-group-item">{{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}</li>
    </ul>
  </div>

  <br />
  <p>
    <!-- <button *ngIf="auth.loggedIn" class="mx-2" nbButton status="primary" [routerLink]="['/pages/bookings/edit/', booking.id]">Edit</button>
    <button *ngIf="auth.loggedIn" class="mr-2" nbButton status="danger" (click)="delete()">Delete</button> -->
    <button nbButton status="warning" [routerLink]="['/pages/bookings']">View All Bookings</button>
  </p>
</div>
