<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <ngx-calendar></ngx-calendar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Details">
            <!-- <ngx-booking-details></ngx-booking-details> -->
          </nb-tab>
          <nb-tab tabTitle="Edit" *ngIf="auth.loggedIn">
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>