<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <ng-calendar></ng-calendar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Details">
            <button class="btn btn-secondary">Edit booking</button>
            <br>
            <button class="btn btn-danger">Delete</button>
          </nb-tab>
          <nb-tab tabTitle="Create">
            <booking-form></booking-form>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>