<nb-card>
  <nb-card-body>
    <h3>Dashboard</h3>
  </nb-card-body>
</nb-card>
<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <ngx-calendar></ngx-calendar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab *ngIf="auth.loggedIn" tabTitle="Add new booking">
            <!-- todo: Put add booking here -->
            <!-- <ngx-booking-form></ngx-booking-form> -->
          </nb-tab>
          <nb-tab tabTitle="Details">
            <!-- todo: Put booking details here-->
            <!-- <ngx-booking-details></ngx-booking-details> -->
              <button class="mr-2" nbButton status="primary">Edit</button>
              <button nbButton status="danger">Delete</button>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>