<nb-card>
  <nb-card-body>
    <h3 *ngIf="booking.id">Edit booking</h3>
    <h3 *ngIf="!booking.id">Add new booking</h3>
  </nb-card-body>
</nb-card>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="row">
    <div class="col-md-8">
      <nb-card>
        <nb-card-body>
          <table class="table table-hover text-center">
            <thead class="thead-dark">
              <tr>
                <th style="width: 10%" scope="col"></th>
                <th style="width: 45%" scope="col">Start time</th>
                <th style="width: 45%" scope="col">End time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of timeSlots" class="checkbox">
                <td>
                  <nb-checkbox status="primary" 
                  id="timeSlot{{ t.id }}" 
                  (change)="onTimeSlotToggle(t.id, $event)"
                  [checked]="booking.timeSlots.includes(t.id)"
                  >
                </nb-checkbox>
                </td>
                <td>
                  {{ t.startTime | date:'shortTime' }}
                </td>
                <td>
                  {{ t.endTime | date:'shortTime' }}
                </td>
              </tr>
            </tbody>
          </table>
          <p>{{ booking | json }}</p>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card>
        <nb-card-body>
          <!-- Building drop down list -->
          <div class="form-group">
            <label for="building">Building *</label>
            <!-- 'for' when a user clicks the lable, the input field will get focused -->
            <select id="building" class="form-control" (change)="onBuildingChange()" [(ngModel)]="booking.buildingId"
              name="buildingId" required #building="ngModel">
              <option value=""></option>
              <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="building.touched && !building.valid">Please specify the building.
            </div>
          </div>
          <!-- Room drop down list -->
          <div class="form-group">
            <label for="room">Room *</label>
            <select id="room" class="form-control" [(ngModel)]="booking.roomId" name="roomId" required #room="ngModel">
              <option value=""></option>
              <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="room.touched && !room.valid">Please specify the room.</div>
          </div>
          <!-- Date picker -->
          <div class="form-group">
            <label for="bookDate">Date *</label>
            <div class="input-group">
              <input id="bookDate" class="form-control" placeholder="mm-dd-yyyy"
                [(ngModel)]="booking.bookDate" ngbDatepicker name="bookDate" required #bookDate="ngbDatepicker">
              <div class="input-group-append">
                <button class="fa fa-calendar" (click)="bookDate.toggle()" type="button"></button>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="bookDate.touched && !bookDate.valid">Please specify the date.</div>
          </div>
          <!-- * Time slot multiple select -->
          <div class="form-group">
            <!-- todo: Bind selected values -->
            <label>Time slot *</label>
            <nb-select fullWidth multiple placeholder="Select time slots">
              <nb-option *ngFor="let t of timeSlots"
              value="{{ t.id }}">
              {{ t.startTime | date:'shortTime' }}-{{ t.endTime | date:'shortTime' }}</nb-option>
            </nb-select>
          </div>
          <!-- Contact from -->
          <div class="form-group">
            <label for="contactName">Name *</label>
            <input id="contactName" type="text" class="form-control" [(ngModel)]="booking.contact.name"
              name="contactName" placeholder="Name" placeholder="e.g. Nora Danish" required #contactName="ngModel"> <!-- * class="form-control" -->
            <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please specify the name.
            </div>
          </div>
          <div class="form-group">
            <label for="contactEmail">Email</label>
            <input id="contactEmail" type="text" class="form-control" [(ngModel)]="booking.contact.email"
              name="contactEmail" placeholder="e.g. nora@ubd.com.com">
          </div>
          <div class="form-group">
            <label for="contactPhone">Phone</label>
            <input id="contactPhone" type="text" class="form-control" [(ngModel)]="booking.contact.phone"
              name="contactPhone" placeholder="e.g. +673-2226111">
          </div>
          <!-- Purpose form -->
          <div class="form-group">
            <label for="purpose">Purpose</label>
            <input id="purpose" type="text" class="form-control" [(ngModel)]="booking.purpose" name="purpose" 
            placeholder="e.g. LE-1503">
          </div>
          <div *ngIf="!booking.id">
            <button nbButton fullWidth status="success" [disabled]="!f.valid">Book</button>
          </div>
          <div *ngIf="booking.id">
            <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
            <!-- ? <button  class="btn btn-danger" type="button" (click)="delete()">Delete</button> -->
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
