<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  
  <!-- * Building drop down list -->
  <div class="form-group">
    <label for="building">Building</label>
    <br>
    <nb-select
      filled
      required
      placeholder="Select Building"
      [(selected)]="booking.buildingId"
      fullWidth="true"
      (selectedChange)="onBuildingChange()"
    >
      <nb-option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</nb-option>
    </nb-select>
    
    <!-- <select
      id="building"
      class="form-control"
      (change)="onBuildingChange()"
      [(ngModel)]="booking.buildingId"
      name="buildingId"
      required
      #building="ngModel"
    >
      <option value=""></option>
      <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="building.touched && !building.valid">Please specify the building.</div> -->
  </div>

  <!-- * Room drop down list -->
  <div class="form-group">
    <label for="room">Room</label>
    <br>
    <nb-select
      filled
      required
      placeholder="Select Room"
      [(selected)]="booking.roomId"
      fullWidth="true"
    >
      <nb-option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</nb-option>
    </nb-select>

    <!-- <select
      id="room"
      class="form-control"
      [(ngModel)]="booking.roomId"
      name="roomId"
      required
      #room="ngModel"
    >
      <option value=""></option>
      <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="room.touched && !room.valid">Please specify the room.</div> -->
  </div>

  <!-- * ng-bootstrap Datepicker -->
  <div class="form-group">
    <label for="bookDate">Date</label>
    <!-- <br>
    <input nbInput placeholder="Choose Date" [nbDatepicker]="ngmodel" [(ngModel)]="ngModelDate">
    <nb-datepicker #ngmodel></nb-datepicker> 
  
    dateChange -->

    <div class="input-group">
      <input 
      id="bookDate" 
      class="form-control" 
      required 
      ngbDatepicker 
      name="bookDate" 
      placeholder="yyyy-mm-dd" 
      [(ngModel)]="booking.bookDate"
      #bookDate="ngbDatepicker">
      <div class="input-group-append">
        <button class="fa fa-calendar" (click)="bookDate.toggle()" type="button"></button>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="bookDate.touched && !bookDate.valid">Please specify the date.</div>

    <br>
    <!-- <p>{{ booking.bookDate | json }}</p> -->
  </div>

  <!-- * Time slot multiple select -->
  <div class="form-group">
    <label>Time slots</label>
    <br>
    <nb-select
      filled
      multiple
      required
      placeholder="Select Time Slots"
      [(selected)]="booking.timeSlots"
      fullWidth="true"
    >  
      <nb-option *ngFor="let t of timeSlots" value="{{ t.id }}">{{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}</nb-option>
    </nb-select>
    <br>
    <!-- <p>{{ booking.timeSlots | json }}</p> -->
  </div>

  <!-- * Module form -->
  <div class="form-group">
    <label>Modules</label>
    <br>
    <nb-select
      filled
      multiple
      placeholder="Select Modules"
      [(selected)]="booking.modules"
      fullWidth="true"
    >
      <nb-option *ngFor="let m of modules" value="{{ m.id }}">{{ m.code }}: {{ m.name }}</nb-option>
    </nb-select>
    <br>
  </div>

  <!-- <pre>{{ booking | json }}</pre> -->

  <div *ngIf="!booking.id">
    <!-- <button nbButton fullWidth status="default" (click)="onClickReset()">Reset</button> --> <!-- ? why it outputs a 401 error? -->
    <button nbButton fullWidth status="success" [disabled]="!f.valid">Add</button>
  </div>
  <div *ngIf="booking.id">
    <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
  </div>
</form>