<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  
  <!-- Building drop down list -->
  <div class="form-group">
    <label for="building">Building *</label>
    <select id="building" class="form-control" (change)="onBuildingChange()" [(ngModel)]="booking.buildingId"
      name="buildingId" required #building="ngModel">
      <option value=""></option>
      <option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="building.touched && !building.valid">Please specify the building.
    </div>
  </div>

  <!-- Room drop down list -->
  <div class="form-group">
    <label for="room">Room *</label>
    <select id="room" class="form-control" [(ngModel)]="booking.roomId" name="roomId" required #room="ngModel">
      <option value=""></option>
      <option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="room.touched && !room.valid">Please specify the room.</div>
  </div>

  <!-- Date picker -->
  <div class="form-group">
    <label for="bookDate">Date *</label>
    <div class="input-group">
      <input id="bookDate" class="form-control" placeholder="mm-dd-yyyy"
        [(ngModel)]="booking.bookDate" ngbDatepicker name="bookDate" required #bookDate="ngbDatepicker">
      <div class="input-group-append">
        <button class="fa fa-calendar" (click)="bookDate.toggle()" type="button"></button>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="bookDate.touched && !bookDate.valid">Please specify the date.</div>
  </div>

  <!-- * Time slot multiple select -->
  <!-- todo: Bind selected values -->
  <div class="form-group">
    <label>Time slots *</label>
    <ng-select
    placeholder="Select time slots"
    [multiple]="true"
    [clearable]="true"
    [closeOnSelect]="false"
    [hideSelected]="true"
    >
      <ng-option *ngFor="let t of timeSlots">
        {{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}
      </ng-option>
    </ng-select>
  </div>
  
  <!-- (change)="onTimeSlotToggle(t.id, $event)"
  [(selected)]="booking.timeSlots"
  bindLabel="name"
  bindValue="t.id" -->

  <!-- Contact from -->
  <div class="form-group">
    <label for="contactName">Name *</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="booking.contact.name"
      name="contactName" placeholder="e.g. Ghassani" required #contactName="ngModel"> <!-- * class="form-control" -->
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please specify the name.
    </div>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input id="contactEmail" type="text" class="form-control" [(ngModel)]="booking.contact.email"
      name="contactEmail" placeholder="e.g. ghas@ubd.com.com">
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input id="contactPhone" type="text" class="form-control" [(ngModel)]="booking.contact.phone"
      name="contactPhone" placeholder="e.g. +673-2226111">
  </div>

  <!-- Purpose form -->
  <div class="form-group">
    <label for="purpose">Purpose</label>
    <input id="purpose" type="text" class="form-control" [(ngModel)]="booking.purpose" name="purpose" 
    placeholder="e.g. LE-1503">
  </div>
  <div *ngIf="!booking.id">
    <!-- <button nbButton fullWidth status="default" (click)="onClickReset()">Reset</button> --> <!-- ? why it outputs a 401 error? -->
    <button nbButton fullWidth status="success" [disabled]="!f.valid">Book</button>
  </div>
  <div *ngIf="booking.id">
    <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
  </div>

  <br>
  <p>{{ booking | json }}</p>

</form>
