<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header style="border-bottom: none;">
        <h4>Time Slot List</h4>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-hover" style="margin-top: -15px;">
          <thead>
            <tr>
              <th style="width: 20%" scope="col">
                Start Time
              </th>
              <th style="width: 20%" scope="col">
                End Time
              </th>
              <th style="width: 50%" scope="col"></th>
              <th style="width: 5%" scope="col"></th>
              <th style="width: 5%" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let timeSlot of timeSlots">
              <td>
                {{ timeSlot.startTime | date:'shortTime' }}
              </td>
              <td>
                {{ timeSlot.endTime | date:'shortTime' }}
              </td>
              <td></td>
              <td><a href="javascript:void(0);" (click)="edit(timeSlot.id)" *ngIf="hasAccess">
                  <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                </a></td>
              <td><a href="javascript:void(0);" (click)="delete(timeSlot.id)" *ngIf="hasAccess">
                  <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                </a></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        <h4>Add Time Slot</h4>
      </nb-card-header>
      <nb-card-body>
        <form #k="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="form-group" style="margin-top: 10px;">
            <label>Start time *</label>
            <input id="startTime" type="text" class="form-control" [(ngModel)]="timeSlot.startTime" name="start time"
              placeholder="Start time">
          </div>
          <div class="form-group" style="margin-top: 10px;">
            <label>End time *</label>
            <input id="endTime" type="text" class="form-control" [(ngModel)]="timeSlot.endTime" name="end time"
              placeholder="End time">
          </div>
          <div style="margin-top: 10px;">
            <button *ngIf="!timeSlot.id" nbButton fullWidth [disabled]="!k.valid">Add</button>
            <button *ngIf="timeSlot.id" nbButton fullWidth [disabled]="!k.valid">Save</button>
          </div>
          <!-- <br><pre>{{ timeSlot | json }}</pre> -->
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
