<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        <h4>Account Profile</h4>
      </nb-card-header>
      <nb-card-body>
        <div style="margin-top: 10px;">
          <nb-user size="giant" [name]="userDetails?.fullName" [title]="userDetails?.email" color="#cccccc">
          </nb-user>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        <h4>My Information</h4>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="userDetails" style="margin-top: 10px;">
          <span>Username: <b>{{userDetails.userName}}</b></span><br>
          <span>Full name: <b>{{userDetails.fullName}}</b></span><br>
          <span>Email: <b>{{userDetails.email}}</b></span><br>
          <span>User role: </span><br>
          <span>Phone no.: </span><br>
        </div>

        <div class="inline">
          <button nbButton size="small" status="warning" style="margin-right: 10px; margin-top: 10px;">Edit
            profile</button>
          <button nbButton size="small" status="danger" style="margin-right: 10px; margin-top: 10px;">Delete
            profile</button>
        </div>

        <!-- <div class="card" style="width:18rem" *ngIf="userDetails">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
                        <li class="list-group-item"><strong>Full name : </strong>{{userDetails.fullName}}</li>
                        <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
                    </ul>
                </div> -->
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        <h4>Reset Password</h4>
      </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-2"></div>

</div>
