<div class="header-container">
  <div class="logo-container">
    <a *ngIf="isAuthenticated" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img src="assets/images/ubdlogo.png" width="38">
    <a class="logo" href="/pages/home" (click)="navigateHome()"><b>Timetable and Booking System</b></a>
  </div>
</div>

<div class="header-container">
  <nb-actions *ngIf="isAuthenticated">
    <nb-action class="user-action mr-4">
      <nb-user [nbContextMenu]="userMenu" 
      nbContextMenuTrigger="hover"
      [onlyPicture]="userPictureOnly"
      [name]="userDetails?.fullName"
      size="large"
      >
      </nb-user>
    </nb-action>
  </nb-actions>

  <!-- * Login/logout button -->
  <div *ngIf="!isAuthenticated">
    <button class="mr-2" nbButton status="basic" appearance="ghost" (click)="onLogin()"
      size="small">Log in</button>
    <button class="mr-4" nbButton status="primary" (click)="onRegister()" size="small">Sign
      up</button>
  </div>

  <!-- <div *ngIf="userDetails">
    <button *ngIf="isAuthenticated" class="mr-4" nbButton appearance="ghost" status="basic" nbContextMenuTrigger="hover"
      [nbContextMenu]="userMenu" shape="round">
      Hello {{ userDetails.userName }}!
    </button>
  </div> -->
</div>
