<div class="header-container">
  <a *ngIf="isAuthenticated" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
    <nb-icon icon="menu-2-outline"></nb-icon>
  </a>
  <div class="logo-container">
    <img src="assets/images/ubdlogo.png" width="38">
    <a class="logo" href="/pages/home" (click)="navigateHome()">
      <b>TaBS: Timetabling and Booking System</b>
    </a>
  </div>
</div>

<div class="user-container"> <!-- prev: header-container -->
  <nb-actions *ngIf="isAuthenticated">
    <nb-action class="control-item" icon="plus-circle-outline" (click)="onClickAdd()" nbTooltip="Add New Booking"
      nbTooltipPlacement="bottom"></nb-action>
    <nb-action class="control-item" icon="calendar-outline" (click)="onClickCalendar()" nbTooltip="Calendar Timetable"
      nbTooltipPlacement="bottom"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTrigger="hover" [onlyPicture]="false"
        [name]="userDetails?.fullName" size="large">
      </nb-user>
    </nb-action>
  </nb-actions>

  <!-- * Login/logout button -->
  <div class="login-container" *ngIf="!isAuthenticated">
    <!-- margin-left: 120px; margin-top: 10px; -->
    <button nbButton status="basic" appearance="ghost" (click)="onLogin()" size="small">Log in</button>
    <button nbButton status="primary" (click)="onRegister()" size="small">Sign
      up</button>
  </div>
</div>
