<nb-card>
    <nb-card-body>
        <h3>Module list</h3>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Module Code</th>
                    <th>Module Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of modules">
                    <td>{{ module.code }}</td>
                    <td>{{ module.name }}</td>
                    <td><a [routerLink]="['/pages/modules/', module.id]">View</a></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>