<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab tabTitle="Modules Offered"> <!-- active="{{ setActiveModuleList }}" -->
            <div style="margin-top: 10px;">
              <nb-card-header style="border-bottom: none;">
                <h4 style="float: left;" *ngIf="!filter.semesterId">Modules Offered</h4>
                <h4 style="float: left;" *ngIf="filter.semesterId">Modules Offered in {{ selectedSemester.session }}</h4>
                <div style="float: right;">
                  <label style="margin-right: 5px;">Filter semester:</label>
                  <nb-select *ngIf="!filter.semesterId" placeholder="Select semester" [(selected)]="filter.semesterId"
                  (selectedChange)="onSemesterFilter()" status="danger">
                    <nb-option *ngFor="let s of semesters" value="{{ s.id }}">{{ s.session }}</nb-option>
                  </nb-select>
                  <nb-select *ngIf="filter.semesterId" filled placeholder="Select semester" [(selected)]="filter.semesterId"
                  (selectedChange)="onSemesterFilter()">
                    <nb-option *ngFor="let s of semesters" value="{{ s.id }}">{{ s.session }}</nb-option>
                  </nb-select>
                </div>
              </nb-card-header>
            </div>

            <table class="table table-hover" style="margin-top: 30px;">
              <thead>
                <tr>
                  <th style="width: 20%" scope="col">Module Code</th>
                  <th style="width: 70%" scope="col">Module Name</th>
                  <th style="width: 5%" scope="col"></th>
                  <th style="width: 5%" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let offering of offerings">
                  <td (click)="selectOffering(offering.id)">{{ offering.module.code }}</td>
                  <td (click)="selectOffering(offering.id)">{{ offering.module.name }}</td>
                  <td><a href="javascript:void(0);" (click)="editModuleOffering(offering.id)" *ngIf="hasAccess">
                      <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                    </a></td>
                  <td><a href="javascript:void(0);" (click)="deleteModuleOffering(offering.id)" *ngIf="hasAccess">
                      <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                    </a></td>
                </tr>
              </tbody>
            </table>
          </nb-tab>

          <nb-tab tabTitle="Modules List">
            <div style="margin-top: -16px;">
              <nb-card-header style="border-bottom: none;">
                <h4>All Modules</h4>
              </nb-card-header>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th style="width: 20%" scope="col">Module Code</th>
                    <th style="width: 70%" scope="col">Module Name</th>
                    <th style="width: 5%" scope="col"></th>
                    <th style="width: 5%" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let module of modules">
                    <td (click)="selectModule(module.id)">{{ module.code }}</td>
                    <td (click)="selectModule(module.id)">{{ module.name }}</td>
                    <td><a href="javascript:void(0);" (click)="editModule(module.id)" *ngIf="hasAccess">
                        <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                      </a></td>
                    <td><a href="javascript:void(0);" (click)="deleteModule(module.id)" *ngIf="hasAccess">
                        <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                      </a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nb-tab>

          <nb-tab tabTitle="Semesters List">
            <div style="margin-top: -16px;">
              <nb-card-header style="border-bottom: none;">
                <h4>All Semesters</h4>
              </nb-card-header>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th style="width: 30%" scope="col">Session</th>
                    <th style="width: 30%" scope="col">Start date</th>
                    <th style="width: 30%" scope="col">End date</th>
                    <th style="width: 5%" scope="col"></th>
                    <th style="width: 5%" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let semester of semesters">
                    <td>{{ semester.session }}</td>
                    <td>{{ semester.startDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ semester.endDate | date:'dd/MM/yyyy' }}</td>
                    <td><a href="javascript:void(0);" (click)="editSemester(semester.id)" *ngIf="hasAccess">
                        <nb-icon icon="edit-outline" status="warning" nbTooltip="Edit"></nb-icon>
                      </a></td>
                    <td><a href="javascript:void(0);" (click)="deleteSemester(semester.id)" *ngIf="hasAccess">
                        <nb-icon icon="trash-2-outline" status="danger" nbTooltip="Delete"></nb-icon>
                      </a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nb-tab>

        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card *ngIf="hasAccess">
      <nb-card-body>
        <nb-tabset fullWidth>

          <!-- * Assign Module to Semester -->
          <nb-tab *ngIf="hasAccess" tabTitle="Assign Module" active="{{ setActiveAddAssignModule }}">
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existAlert" style="text-align: center;">
              {{error}}
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert" style="text-align: center;">
              Please enter the required fields!
            </nb-alert>
            <h4 *ngIf="offering.id" style="margin-top: 10px;">Edit Assigned Modules
              <button nbButton size="small" status="basic" ghost (click)="onClickBackAssign()" nbTooltip="Return to Add"
                style="float: right;">
                <nb-icon icon="arrow-back-outline"></nb-icon>Back
              </button>
            </h4>
            <h4 *ngIf="!offering.id" style="margin-top: 10px;">Assign Module to a Semester</h4>
             <form #g="ngForm" (ngSubmit)="submitAssignModule()" novalidate>
              <div class="form-group" style="margin-top: 10px;">
                <label>Semester *</label>
                <nb-select filled fullWidth placeholder="Select semester" [(selected)]="offering.semesterId">
                  <nb-option *ngFor="let s of semesters" value="{{ s.id }}">{{ s.session }}</nb-option>
                </nb-select>
              </div>
              <div class="form-group" style="margin-top: 10px;">
                <label>Module *</label>
                <nb-select filled fullWidth placeholder="Select module" [(selected)]="offering.moduleId">
                  <nb-option *ngFor="let module of modules" value="{{ module.id }}">{{ module.code }}: {{ module.name }}</nb-option>
                </nb-select>
              </div>
              <div style="margin-top: 10px;">
                <label>Lecturers *</label>
                <nb-select filled multiple fullWidth placeholder="Select lecturers" [(selected)]="offering.lecturers">
                  <nb-option *ngFor="let l of lecturers" value="{{ l.id }}">{{ l.title }} {{ l.name }}</nb-option>
                </nb-select><br>
              </div>
              <div style="margin-top: 10px;">
                <button *ngIf="!offering.id" nbButton fullWidth [disabled]="!g.valid">Add</button>
                <button *ngIf="offering.id" nbButton fullWidth [disabled]="!g.valid">Save</button>
              </div>
              <!-- <br><pre>{{ offering | json }}</pre> -->
            </form>
          </nb-tab>

          <!-- * Add/edit Module -->
          <nb-tab *ngIf="hasAccess" tabTitle="Module" active="{{ setActiveAddModule }}">
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existAlert" style="text-align: center;">
              {{error}}
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert" style="text-align: center;">
              Please enter the required fields!
            </nb-alert>
            <h4 *ngIf="module.id" style="margin-top: 10px;">Edit Module
              <button nbButton size="small" status="basic" ghost (click)="onClickBack()" nbTooltip="Return to Add"
                style="float: right;">
                <nb-icon icon="arrow-back-outline"></nb-icon>Back
              </button>
            </h4>
            <h4 *ngIf="!module.id" style="margin-top: 10px;">Add Module</h4>
            <form #f="ngForm" (ngSubmit)="submitModule()" novalidate>
              <div class="form-group" style="margin-top: 10px;">
                <label>Major *</label>
                <nb-select filled fullWidth placeholder="Select major" [(selected)]="module.majorId">
                  <nb-option *ngFor="let m of majors" value="{{ m.id }}">{{ m.name }}</nb-option>
                </nb-select>
              </div>
              <div style="margin-top: 10px;">
                <label>Module code *</label>
                <input id="code" type="text" class="form-control" [(ngModel)]="module.code" name="code"
                  placeholder="Module code">
              </div>
              <div style="margin-top: 10px;">
                <label>Module name *</label>
                <input id="name" type="text" class="form-control" [(ngModel)]="module.name" name="name"
                  placeholder="Module name">
              </div>
              <div style="margin-top: 10px;">
                <button *ngIf="!module.id" nbButton fullWidth [disabled]="!f.valid">Add</button>
                <button *ngIf="module.id" nbButton fullWidth [disabled]="!f.valid">Save</button>
              </div>
              <br><pre>{{ module | json }}</pre>
            </form>
          </nb-tab>

          <!-- * Add/edit Semester -->
          <nb-tab *ngIf="hasAccess" tabTitle="Semester" active="{{ setActiveSemester }}">
            <h4 style="margin-top: 10px;">Add Semester</h4>
            <form #h="ngForm" (ngSubmit)="submitSemester()" novalidate>
              <ng-container class="form-group">
                <div style="margin-top: 10px;">
                  <label>Session title *</label>
                  <input id="session" type="text" class="form-control" [(ngModel)]="semester.session" name="session"
                    placeholder="Session title">
                </div>
              </ng-container>
              <div class="form-group" style="margin-top: 10px;">
                <label>Pick date range *</label>
                <input nbInput filled fullWidth placeholder="Pick Date Range" [nbDatepicker]="formpicker">
                <nb-rangepicker #formpicker></nb-rangepicker>
              </div>
              <div style="margin-top: 10px;">
                <button *ngIf="!semester.id" nbButton fullWidth [disabled]="!h.valid">Add</button>
                <button *ngIf="semester.id" nbButton fullWidth [disabled]="!h.valid">Save</button>
              </div>
              <!-- <br><pre>{{ semester | json }}</pre> -->
            </form>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        <h4>Details
          <button nbButton size="small" status="basic" ghost (click)="onClickClose()" nbTooltip="Clear Details"
            style="float: right;" *ngIf="moduleDetails || moduleOfferingDetails">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </h4>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="moduleOfferingDetails">
          <p>
            <span><b>Major:</b> {{ moduleOfferingDetails.module.major.name }}</span>
            <br>
            <span><b>Module code:</b> {{ moduleOfferingDetails.module.code }}</span>
            <br>
            <span><b>Module name:</b> {{ moduleOfferingDetails.module.name }}</span>
            <br>
          </p>

          <nb-card class="nb-card-list" style="margin-top: 10px">
            <nb-card-header>
              <b>Lecturers</b>
            </nb-card-header>
            <nb-list>
              <nb-list-item *ngFor="let l of moduleOfferingDetails.lecturers">
                {{ l.title }} {{ l.name }}
              </nb-list-item>
            </nb-list>
          </nb-card>

          <div class="inline" *ngIf="hasAccess">
            <button nbButton status="warning" style="margin-top: 10px;" (click)="editModuleOffering(moduleOfferingDetails.id)">Edit</button>
            <button nbButton status="danger" style="margin-left: 5px; margin-top: 10px;"
              (click)="deleteModuleOffering(moduleOfferingDetails.id)">Delete</button>
          </div>
        </div>
        <div *ngIf="!moduleOfferingDetails" style="margin-top: 10px;">
          <nb-alert status="basic" closable (close)="onCloseDetails()" *ngIf="detailsAlert" style="text-align: center;">
            Click on table row to show its details
          </nb-alert>
        </div>

        <div *ngIf="moduleDetails">
          <p>
            <span><b>Major:</b> {{ moduleDetails.name }}</span>
            <br>
            <span><b>Module code:</b> {{ moduleDetails.code }}</span>
            <br>
            <span><b>Module name:</b> {{ moduleDetails.name }}</span>
            <br>
          </p>

          <div class="inline" *ngIf="hasAccess">
            <button nbButton status="warning" style="margin-top: 10px;" (click)="editModule(moduleDetails.id)">Edit</button>
            <button nbButton status="danger" style="margin-left: 5px; margin-top: 10px;"
              (click)="deleteModule(moduleDetails.id)">Delete</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
