<nb-card>
    <nb-card-body>
        <h3>Module list</h3>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Module name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of modules">
                    <td>
                        {{ module.name }}
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>