<div class="row">
  <div class="col-md-8">
      <nb-card>
          <nb-card-header>
              <h4>Booking</h4>
          </nb-card-header>
          <nb-card-body>
              <booking-calendar-header [(view)]="view" [(viewDate)]="viewDate">
              </booking-calendar-header>

              <div class="alert alert-danger" *ngIf="booking.bookDates.length == 0" style="text-align: center;">
                <b>Click on any date to select it</b>
              </div>
              <div class="alert alert-success" *ngIf="booking.bookDates.length > 0" style="text-align: center;">
                <b>Good!</b>
              </div>
              <!-- <nb-alert status="warning" closable (close)="onClose()" *ngIf="booking.bookDates.length == 0" style="text-align: center;">
                <b>Click on any date to select it</b>
              </nb-alert>
              <nb-alert status="success" closable (close)="onClose()" *ngIf="booking.bookDates.length > 0" style="text-align: center;">
                <b>Good!</b>
              </nb-alert> -->

              <div [ngSwitch]="view">
              <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="events"
                  (beforeViewRender)="beforeMonthViewRender($event)"
                  (dayClicked)="dayClicked($event.day)"
                  [excludeDays]="excludeDays"
              >
              </mwl-calendar-month-view>
              </div>

              <!-- <br>
              <pre>{{ selectedDate | json }}</pre> -->
          </nb-card-body>
      </nb-card>
  </div>

  <div class="col-md-4">
      <nb-card [nbSpinner]="nbSpinner ? true : false" nbSpinnerStatus="success">
          <nb-card-header *ngIf="!booking.id"><h4>Add Booking</h4></nb-card-header>
          <nb-card-header *ngIf="booking.id"><h4>Edit Booking
            <button nbButton size="small" status="basic" ghost (click)="resetBookingField()" 
            nbTooltip="Return to Add" style="float: right;">
              <nb-icon icon="arrow-back-outline"></nb-icon>Back
            </button>
          </h4></nb-card-header>
          <nb-card-body>
            <nb-alert status="danger" closable (close)="onClose()" *ngIf="existAlert" style="text-align: center;">
              {{error}}
            </nb-alert>
            <nb-alert status="warning" closable (close)="onClose()" *ngIf="requiredAlert" style="text-align: center;">
              Please enter the required fields!
            </nb-alert>
            <form #f="ngForm" (ngSubmit)="submit()" novalidate>
              
              <!-- * Semester form -->
              <div class="form-group">
                <label>Semester *</label>
                <br>
                <nb-select
                  filled
                  required
                  placeholder="Select Semester"
                  [(selected)]="booking.semesterId"
                  fullWidth="true"
                >
                  <nb-option *ngFor="let s of semesters" value="{{ s.id }}">{{ s.session }}</nb-option>
                </nb-select>
                <br>
              </div>
            
              <!-- * Module form -->
              <div class="form-group">
                <label>Modules *</label>
                <br>
                <nb-select
                  filled
                  multiple
                  required
                  placeholder="Select Modules"
                  [(selected)]="booking.modules"
                  fullWidth="true"
                >
                  <nb-option *ngFor="let m of modules" value="{{ m.id }}">{{ m.code }}: {{ m.name }}</nb-option>
                </nb-select>
                <br>
              </div>
            
              <!-- * Time slot multiple select -->
              <div class="form-group">
                <label>Time slots *</label>
                <br>
                <nb-select
                  filled
                  multiple
                  required
                  placeholder="Select Time Slots"
                  [(selected)]="booking.timeSlots"
                  fullWidth="true"
                >  
                  <nb-option *ngFor="let t of timeSlots" value="{{ t.id }}">
                    {{ t.startTime | date:'shortTime' }} - {{ t.endTime | date:'shortTime' }}
                  </nb-option>
                </nb-select>
                <br>
              </div>
            
              <!-- * Building drop down list -->
              <div class="form-group">
                <label for="building">Building *</label>
                <br>
                <nb-select
                  filled
                  required
                  placeholder="Select Building"
                  [(selected)]="booking.buildingId"
                  fullWidth="true"
                  (selectedChange)="onBuildingChange()"
                >
                  <nb-option *ngFor="let b of buildings" value="{{ b.id }}">{{ b.name }}</nb-option>
                </nb-select>
              </div>
            
              <!-- * Room drop down list -->
              <div class="form-group">
                <label>Rooms *</label>
                <br>
                <nb-select
                filled
                required
                multiple
                placeholder="Select Rooms"
                [(selected)]="booking.rooms"
                fullWidth="true"
                >
                  <nb-option *ngFor="let r of rooms" value="{{ r.id }}">{{ r.name }}</nb-option>
                </nb-select>
              </div>
            
              <div class="form-group">
                <label>Purpose</label>
                <input nbInput fullWidth id="purpose" type="text" class="form-control" [(ngModel)]="booking.purpose" name="purpose"
                  placeholder="Purpose" filled>
              </div>
              
              <div *ngIf="!booking.id">
                <!-- <button style="margin-bottom: 10px;" nbButton fullWidth status="default" outline (click)="resetBookingField()">Reset</button> -->
                <button nbButton fullWidth status="primary" [disabled]="!f.valid">Submit</button>
              </div>
              <div *ngIf="booking.id">
                <!-- <button style="margin-bottom: 10px;" nbButton fullWidth status="default" (click)="resetBookingField()">Reset</button> -->
                <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
              </div>
            
              <br>
              <pre>{{ booking | json }}</pre>
            </form>
          </nb-card-body>
      </nb-card>
  </div>
</div>