<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>
        <p>
          {{ booking | json }}
        </p>
        <!-- <ngx-calendar-header></ngx-calendar-header> -->
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of timeSlots"> <!-- class="form-check" -->
              <th>
                <input type="checkbox" id="timeSlot{{ t.id }}" (change)="onTimeSlotToggle(t.id, $event)"> <!-- class="form-check-input" -->
              </th>
              <td>
                {{ t.startTime | date:'shortTime' }}
              </td>
              <td>
                {{ t.endTime | date:'shortTime' }}
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <ngx-booking-form></ngx-booking-form>
      </nb-card-body>
    </nb-card>
  </div>
</div>