<div class="row">
  <div class="col-md-8">
      <nb-card>
          <nb-card-header>
              <h4>Booking</h4>
          </nb-card-header>
          <nb-card-body>
              <booking-calendar-header [(view)]="view" [(viewDate)]="viewDate">
              </booking-calendar-header>

              <div class="alert alert-danger" *ngIf="booking.bookDates.length == 0" style="text-align: center;">
                <b>Click on any date to select it</b>
              </div>
              <div class="alert alert-success" *ngIf="booking.bookDates.length > 0" style="text-align: center;">
                <b>Good!</b>
              </div>

              <div [ngSwitch]="view">
              <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="events"
                  (beforeViewRender)="beforeMonthViewRender($event)"
                  (dayClicked)="dayClicked($event.day)"
                  [excludeDays]="excludeDays"
              >
              </mwl-calendar-month-view>
              </div>

              <!-- <br>
              <pre>{{ selectedDate | json }}</pre> -->
          </nb-card-body>
      </nb-card>
  </div>

  <div class="col-md-4">
      <nb-card [nbSpinner]="nbSpinner ? true : false" nbSpinnerStatus="success">
          <nb-card-header *ngIf="!booking.id"><h4>Add Booking</h4></nb-card-header>
          <nb-card-header *ngIf="booking.id"><h4>Edit Booking
            <button nbButton size="small" status="basic" ghost (click)="resetBookingField()" 
            nbTooltip="Return to Add" style="float: right;">
              <nb-icon icon="arrow-back-outline"></nb-icon>Back
            </button>
          </h4></nb-card-header>
          <nb-card-body>
            <nb-alert status="danger" closable (close)="onCloseAlert()" *ngIf="existAlert" style="text-align: center;">
              {{error}}
            </nb-alert>
            <nb-alert status="warning" closable (close)="onCloseAlert()" *ngIf="requiredAlert" style="text-align: center;">
              Please enter the required fields!
            </nb-alert>

            <form #f="ngForm" (ngSubmit)="submitBooking()" novalidate>  
              <!-- * Semester form -->
              <div class="form-group">
                <label>Semester *</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select Semester'"
                  [data]="semesters"
                  [(ngModel)]="selectedSemester"
                  [settings]="semesterSettings"
                  (onSelect)="onSemesterSelect($event)"
                  (onDeSelect)="onSemesterDeSelect($event)"
                  name="semester"
                >
                </ng-multiselect-dropdown>
              </div>

              <!-- * Module form -->
              <div class="form-group">
                <label>Modules *</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select Modules'"
                  [data]="offerings"
                  [(ngModel)]="selectedOfferings"
                  [settings]="offeringSettings"
                  (onSelect)="onOfferingSelect($event)"
                  (onDeSelect)="onOfferingDeSelect($event)"
                  name="offerings"
                >
                </ng-multiselect-dropdown>
              </div>
            
              <!-- * Time slot multiple select -->
              <div class="form-group">
                <label>Time slots *</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select Time Slots'"
                  [data]="timeSlots"
                  [(ngModel)]="selectedTimeSlots"
                  [settings]="timeSlotSettings"
                  (onSelect)="onTimeSlotSelect($event)"
                  (onDeSelect)="onTimeSlotDeSelect($event)"
                  name="timeSlots"
                >
                </ng-multiselect-dropdown>
              </div>
            
              <!-- * Building drop down list -->
              <div class="form-group">
                <label for="building">Building *</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select Building'"
                  [data]="buildings"
                  [(ngModel)]="selectedBuilding"
                  [settings]="buildingSettings"
                  (onSelect)="onBuildingSelect($event)"
                  (onDeSelect)="onBuildingDeSelect($event)"
                  name="building"
                >
                </ng-multiselect-dropdown>
              </div>
            
              <!-- * Room drop down list -->
              <div class="form-group">
                <label>Rooms *</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select Rooms'"
                  [data]="rooms"
                  [(ngModel)]="selectedRooms"
                  [settings]="roomSettings"
                  (onSelect)="onRoomSelect($event)"
                  (onDeSelect)="onRoomDeSelect($event)"
                  name="rooms"
                >
                </ng-multiselect-dropdown>
              </div>
              <!-- <br>
              <pre>{{ rooms | json }}</pre> -->
            
              <div class="form-group">
                <label>Purpose</label>
                <input id="purpose" type="text" class="form-control" [(ngModel)]="booking.purpose" name="purpose"
                  placeholder="Purpose">
              </div>
              
              <div *ngIf="!booking.id">
                <button style="margin-bottom: 10px;" nbButton fullWidth status="default" outline (click)="resetBookingField()">Reset</button>
                <button nbButton fullWidth status="primary" [disabled]="!f.valid">Submit</button>
              </div>
              <div *ngIf="booking.id">
                <button nbButton fullWidth status="primary" [disabled]="!f.valid">Save</button>
              </div>
            
              <br><pre>{{ selectedDays | json }}</pre>
              <br><pre>{{ booking | json }}</pre>
            </form>
          </nb-card-body>
      </nb-card>
  </div>
</div>